@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	width: 1280px;
	
}
header{
	background-color: #dec6d9;
	height: 100px;
	width: 100%;
	margin-bottom: 120px;
}
.presentacion img
{
	margin-left: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,1,1,1.0);
	border-radius: 20px;
}
H1{
	font-family: 'Poppins', sans-serif;
	color: #fefdfd;
	padding-top: 20px;
	font-size: 90px;
	text-align: center;
}
H2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: italic;
	color: #fefdfd;
	font-variant-caps: all-petite-caps;
	letter-spacing: 10px;
	text-align: center;
	margin-bottom: 60px;

}
h4{
	font-family:  'Poppins', sans-serif;
	color: #FFFFFE;
	font-variant-caps: all-petite-caps;
	font-size: 70px;
	
}
p{
	font-size: 20px;
	color: #B8C1EC;
	font-family:  'Poppins', sans-serif;
}
body{
	background-color: #262648;
	width: 1280px;
}
.sobre-mi img{
	width: 23%;
}
.botonera{
	width: 100%;
	height: 80px;
	padding-top: 25px;
	margin-bottom: 30px;;
}
nav ul {
	list-style: none;
	text-align: right;
	
}
nav ul li {
	display: inline;
	margin-left: 50px;
	
}
.botonera li:hover {
	background-color: #b8c1ec;
	color:#7c65a9; 
	height: 80px;
}
.botonera a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-decoration: none;
	font-size: 25px;
	color: #262648;
	padding-right: 10px;
	
}
.muestra{
	margin-left: 10px;
	display: flex;
	margin-bottom: 150px;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;

	box-shadow: 0px 1px 10px rgba(0,1,1,0.2);
	cursor: default;
	transition: all 400ms ease;
	
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,1,1,0.4);
	transform: translateY(-3%);
}
.muestra img{
	width: 100%;

}
.contenido{
	margin-left: 10px;
}
.contenido a{
	text-decoration: none;
	color: white;

}
.contenido a:hover{
	color: aqua;
	background-color: beige;
}
 h3{
	font-family: 'Poppins', sans-serif;
	margin-bottom: 14px;
	color: white;
	font-size: 15px;
	font-weight: normal;
	
}
.sobre-mi{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.sobre-mi img{
	margin-left: 20px;
	
}
.sobre-mi p{
	padding-left: 100px;
	margin-right: 100px;
	text-align: center;
	font-weight: 600;
}
/* FORMULARIO DE CONTACTO */
input[type=text], select, textarea {
	padding: 5px;
	box-shadow: 0px 1px 10px rgba(0,1,1,0.2);
	border-radius: 10px;
	box-sizing: border-box;
	margin-top: 10px; 
	margin-bottom: 5px; 
	resize: vertical;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
label{
	padding-left: 12px;
}
input[type=submit] {
	background-color: #e9bcc4;
	color: #ffffff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
input[type=submit]:hover {
	background-color:#252848;
}

.container {
	border-radius: 5px;
	background-color:#b8c1ec;
	margin-top: 50px;
	margin-bottom: 30px;
	padding: 10px;
	

}

	

main h4{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
footer{
	display: inline-block;
	background-color: #b8c1ec;
	height: 60px;
	width: 1280px;
	padding-left: 10px;
}
h6{
	color: #262648;
	font-size: 15px;
}
footer ul {
	list-style: none;
	text-align: right;
	
}
footer ul li {
	display: inline;
	margin-left: 50px;
	
	
}
footer li:hover {
	background-color: #dec6d9;
	color:#b8c1ec; 
	height: 80px;
}
footer a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-decoration: none;
	font-size: 15px;
	color: #262648;
	padding-right: 10px;
	padding-top: -100px;
	}